@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow+Condensed&family=Chivo+Mono&family=Inconsolata&family=Montserrat&family=Mulish:wght@200;400&family=Patrick+Hand&family=Roboto:ital,wght@0,400;0,700;1,400&family=Sono&family=Space+Mono&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #30DDCE ;
    font-family: 'Amatic SC', cursive,sans-serif !important;
    font-weight: bolder; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

i {
  font-size: 12.5rem;
  color: #dedede;
}

.upIcon {
  font-size: 16px;
}

h1,
h2 {
    margin-bottom: 0;
}

p {
    line-height: 1.4;
    margin: 0;
  }
  
  .play-again {
    font-family: inherit;
    font-size: 25px;
    padding: 15px 25px;
    border: 0;
    background: #FFF85F;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow:5px 5px 5px #343434;
    ;
  }

  .play-again:hover {
    background-color: #fefab6;
  }

  .msg{
    font-size: 1.5em;
    margin-top: 40px;
  }

  .box {
    border: 2.5px solid #dedede;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  